<p id="notice"><%= notice %></p>

<p>Acabas de comprar <%= @purchase.offer_description %> por un precio especial de <%= standard_price_format(@purchase.price) %>.</p>

<p><%= image_tag(@purchase.image_url) %></p>