body {
    background-color: #abc;
    margin-top: 0px;
}

a {
    color: red;
}

#container {
    content: " 0020";
    display: block;
    height: 0;
    clear: both;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    position: relative;
    width: 950px;
    margin: 0 auto;
}

#header {
    margin: 0;
    padding-left: 147px;
    padding-top: 61px;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    background-image: url('regalo_escalado.png');
    background-repeat: no-repeat;
}

#right {
    margin: 0;
    padding: 0;
    background-color: white;
    border: 1px solid dashed;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    width: 234px;
    height: 600px;
    float: right;
}

#footer {
    color: #ccc;
    background-color: black;
    border-top: 5px solid #58C2DC;
    display: block;
    float: left;
    width: 100%;
    margin-top: 15px;
    padding-bottom: 20px;
    padding-top: 12px;
    padding-left: 500px;
    margin: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

#main {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    float: left;
    display: block;
    margin-top: 2px;
    width: 705px;
    margin-right: 0;
    background-color: white;
    margin: 4px;
    margin-top: 15px;
}

div {
    display: block;
}

.main_block {
    background-color: #aaa;
}

/* offers */

.offer {
    background-color: white;
    width: 348px;
    height: 200px;
    float: none;
    display: inline-table;
    margin: 1px;
}

.offer .description {
    font-size: x-large;
}

.offer .price {

}

.offer .small {
    font-size: small;
}

.offer .regular_price {
    text-decoration: line-through;
}

/* navigation menu */
#navigation_menu {
    color: #ccc;
    background-color: black;
    border-top: 5px solid #58C2DC;
    display: block;
    float: left;
    width: 100%;
    margin-top: 15px;
    padding-bottom: 20px;
    padding-top: 12px;
    padding-left: 500px;
    margin: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

#navigation_menu a {
    color: #ccc;
}